* {
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #495057;
    line-height: 1;
}

.accordion {
    width: 700px;
    margin: 100px auto;

    display: flex;
    flex-direction: column;
    gap: 24px;
}

.item{
    padding: 24px;
    box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);

    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 24px;
    row-gap: 32px;
    align-items: center;
}

.number,
.heading-text {
    font-size: 24px;
    font-weight: 500px;
    color: #052319;
    display: flex;
}
.number {
    color: #868e96;
}

.icon-arrow{
    width: 24px;
    height: 24px;
    stroke: #1971c2;

}

.hidden-box {
    grid-column: 2;
    display: none;
}

.hidden-box p {
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 24px;
}

.hidden-box ul {
    font-size: 16px;
    margin-left: 24px;
    gap: 16px;
    display: flex;
    flex-direction: column;
}

.open {
    border-top: 5px solid #1971c2;
}

.open .hidden-box {
    display: block;
}

.open .number ,.open .heading-text {
    color: #099268;
}
